html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

ul,
li {
  display: block;
  list-style: none;
}

h3 {
  text-align: center;
  padding: 30px;
}
a {
  text-decoration: none;
}
